{% extends 'base.html.twig' %}

{% block body %}

    <p>Dear user,</p>

    <p>We would like to inform you about the change in currency exchange rates between Privatbank and Monobank:</p>

    {% for currency, currencyRates in thresholdReached %}
        <ul>
        <li>Currency: - {{ currency }}</li>
        {% for currencyRate in currencyRates %}
            <li>Exchange rate in {{ currencyRate.getBank() }}: {{ currencyRate.getRate(currency) }} UAH</li>
        {% endfor %}
        </ul>
    {% endfor %}

    <p>The difference between the rates has exceeded the specified threshold - {{ threshold }}.</p>

    <p>Please pay attention to these changes and monitor further trends.</p>

    <p>Best regards,<br>Your program</p>

{% endblock %}
