{% extends 'base.html.twig' %}

{% block body %}

    <p>Шановний користувачу,</p>

    <p>Ми б хотіли повідомити вас про зміну курсу валют між Приватбанком та Монобанком:</p>

    <ul>
        <li>Валюта: - </li>
        <li>Курс в Приватбанку: - UAH</li>
        <li>Курс в Монобанку: - UAH</li>
    </ul>

    <p>Різниця між курсами перевищила заданий поріг.</p>

    <p>Будь ласка, зверніть увагу на ці зміни та відстежуйте подальші тенденції.</p>

    <p>З повагою,<br>Ваша програма</p>

{% endblock %}
